<%# Write your code here! %>
<!DOCTYPE html>
  <head>Welcome Page</head>
  <body>
    <h1>Welcome!</h1>
    <form action = "/greet" method="POST">
      <h2>If you supply your name, I can say hello properly.</h2>
      <label for="user_name">Your Name</label>
      <input type="text" name="user_name" id="user_name" />
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
